<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
<session-factory>

	<!-- 数据库信息（连接信息写到spring的配置文件中） -->
	<property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
		<property name="connection.driver_class">
		com.mysql.jdbc.Driver
	</property>
	<!-- 其他配置 -->
	<property name="show_sql">true</property>
	<property name="hbm2ddl.auto">update</property>
	<!-- 不加下面的配置,初始化会报错 -->
	<property name="javax.persistence.validation.mode">none</property>
	<!-- 导入映射配置 -->
</session-factory>
</hibernate-configuration>